body {
    margin: 0;
    padding: 0;
    color: #111;
    line-height: 1.2;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

section h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
}

header>a {
    text-transform: lowercase;
    font-family: 'Playfair Display', serif;
}

header>button {
    width: 26px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;

}

.link {
    height: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #222222;
    display: flex;
    align-items: center;
}

.more-button {
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_menu_48px-48.png);
}

.search-button {
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-48.png);
}

.slide {
    display: none;
}

.slide>img {
    height: calc(100vh - 50px);
    object-fit: cover;
    width: 100%;
}

.slide>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60%;
    width: 500px;
    margin: 0 auto 0 auto;
    right: 0;
    left: 0;
    position: absolute;
}

.slide>a>h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: white;
    text-transform: none;
}

.slide>a>button {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid white;
}

#slides-section>button {
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    text-transform: uppercase;
}

.next {
    right: 0;
    transform: rotate(90deg);
}

.prev {
    left: 0;
    transform: rotate(-90deg);
}

#about-section {
    background-color: white;
    padding: 20px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#about-section>div{
    max-width: 400px;
    min-width: 280px;
    font-size: 18px;
}

.slogan>p {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
}

.slogan>p>i {
    font-weight: normal;
}

#stories-section {
    background-color: beige;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stories-section > .link{
    margin-top: 30px;
}

#stories-section > h2, #posts-section>h2 {
    border-top: 2px solid grey;
    padding-top: 10px;
    width: 200px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards > a {
    width: 47%;
    margin-top: 25px;
    background-color: white;
}

.cards > a > img {
    width: 100%;
    height: auto;
}

.cards > a > .desc {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}

.desc> .category {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
    font-family: 'Poppins', sans-serif;
    height: 15px;
    margin-top: 7px;
}

.desc > h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    height: 1px;
}

.desc > p {
    font-family: sans-serif;
}

.desc > time {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
}

#films-section {
    background-color: #ddd;
    text-align: center;
    padding: 20px;
}

#films-section>h2{
    margin-bottom: 30px;
}

.cards>iframe {
    width: 45%;
}

#posts-section {
    padding: 20px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts-section a {
    width: 200px;
    height: 300px;
    font-size: 14px;
    margin: 10px;
}

#posts-section h3 {
    font-size: 16px;
}

#posts-section p {
    font-family: sans-serif;
}

#posts-section a > img {
    object-fit: cover;
    height: 150px;
}

footer {
    height: 200px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>a, footer>p {
    margin: 4px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222;
}