:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #222;
    line-height: 1.2;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #222;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    margin: 12px;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-family: serif;
}

header > button {
    width: 26px;
    height: 26px;
}

.link {
    height: 20px;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
    max-width: 200px;
    margin: 12px;
}

h2 {
    font-family: serif;
    font-size: 23px;
}

h3 {
    font-size: 20px;
    font-family: serif;
}

select {
    text-transform: uppercase;
    padding: 6px;
    background-color: beige;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid grey;
    width: 300px;
    margin-top: 24px;
}

section {
    padding: 24px;
}

.more-button {
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_menu_48px-48.png);
}

.search-button {
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-48.png);
}

.slide > img {
    height: calc(100vh - 50px);
    object-fit: cover;
    width: 100%;
}

.slide div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slide h2 {
    font-size: 40px;
    color: white;
}

.slide .link {
    color: white;
    padding: 12px;
    border: 2px solid white;
}

#slides-section > button {
    position: absolute;
    top: 50%;
    padding: 12px;
    color: white;
    font-weight: bold;
}

.next {
    right: 0;
    transform: rotate(90deg);
}

.prev {
    left: 0;
    transform: rotate(-90deg);
}

#about-section {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#about-section > div {
    max-width: 400px;
    min-width: 280px;
    margin: 12px;
}

.slogan > p {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
}

.slogan > p > i {
    font-weight: normal;
}

#stories-section {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.options > div {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin-top: 12px;
}

.cards > a:hover {
    opacity: 0.5;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 12px;
}

.cards > a {
    margin: 12px;
    width: 45%;
    background-color: white;
}

.cards > a > img {
    height: auto;
    width: 100%;
}

.desc {
    padding: 12px;
}

.desc > * {
    margin: 6px;
}

.desc > .category {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    color: grey;
}

.desc > time {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}

#films-section {
    background-color: gainsboro;
    text-align: center;
}

.cards > iframe {
    width: 45%;
    margin: 12px;
}

#posts-section {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

#posts-section > .cards {
    flex-wrap: nowrap;
}

#posts-section > .cards > a {
    width: 20%;
    max-width: 250px;
}

#posts-section > .cards > a > img {
    object-fit: cover;
    height: 150px;
}

footer {
    min-height: 100px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px
}

footer * {
    margin: 0 12px;
    font-weight: bold;
}

@media (max-width: 800px) {
    header .link, .next, .prev, #posts-section > .cards > a > .desc {
        display: none;
    }

    .cards a {
        width: 90%;
    }

    #posts-section .cards {
        justify-content: center;
        flex-wrap: wrap;
    }

    #posts-section > .cards > a {
        height: 30vw;
        width: 30vw;
        max-width: 220px;
    }

    #posts-section > .cards > a > img {
        width: 100%;
        height: 100%;
    }

    #films-section iframe {
        width: 90%;
    }
}