* {
    box-sizing: border-box;
    line-height: 1.2;
}

:focus {
    outline: none;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    --beige: #fafae0;
    --black: #222;
    --green: #4A8671;
    --elevation: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);

    color: var(--black)
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black)
}

.link {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px;
    position: relative;
    margin: 12px;
    display: inline;
}

.link::before {
    content: '';
    height: 7px;
    width: 2px;
    position: absolute;
    right: -6px;
    background-color: var(--black);
    transform: rotate(-45deg);
    top: 32%;
}

.link::after {
    content: '';
    height: 7px;
    width: 2px;
    position: absolute;
    right: -6px;
    background-color: var(--black);
    transform: rotate(45deg);
    top: 43%;
}

.link_expanded::before {
    right: -4px;
    top: 37%;
}

.link_expanded::after {
    right: -7px;
    top: 37%;
}

.link, .card, .select, .header__button_nav, .header__button_search, .slide__button, .slide__button_next, .slide__button_prev, .nav__button, .product, .search__button {
    transition: 0.2s ease;
}

.link:hover, .card:hover, .select:hover, .header__button_nav:hover, .header__button_search:hover {
    opacity: 50%;
}

.heading {
    font-family: serif;
    font-size: 23px;
    font-weight: 600;
}

.select {
    background-color: var(--beige);
    border: none;
    border-bottom: 2px solid var(--black);
    color: var(--black);
    width: 90px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 6px;
    position: relative;
    margin: 12px 0 12px -16px;
    display: inline;
    -moz-appearance: none;
}

.section {
    padding: 24px 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    background-color: white;
    align-items: center;
    box-shadow: var(--elevation);
}

.header__logo {
    font-size: 30px;
    font-family: serif;
}

.header__button_nav, .header__button_search {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 12px;
    width: 26px;
    height: 26px;
}

.header__button_nav {
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_menu_48px-48.png);
}

.header__button_shop, .header__button_cart {
    background-color: transparent;
    border: none;
    height: 100%;
}

.header__button_search {
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-48.png);
}

.nav {
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: white;
    z-index: 2;
    position: fixed;
    top: 0;
    transition: height 0.5s;
}

.nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh auto;
    width: 280px;
}

.nav__link {
    font-size: 30px;
    margin: 20px;
    font-weight: normal;
}

.nav__link::after, .nav__link::before {
    display: none;
}

.nav__button {
    background-color: var(--green);
    text-align: center;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 10px;
    height: 42px;
    margin-top: 20px;
    border: 2px solid var(--green)
}

.nav__button:hover, .search__button:hover {
    color: var(--green);
    background-color: white;
}

.shop {
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    transition: height 0.5s;
    box-shadow: var(--elevation);
}

.product {
    width: 25%;
    height: 25vw;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product:hover::after {
    content: 'Magazine';
    font-family: serif;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 40%;
    font-size: 3vw;
    opacity: 1;
    color: var(--black);
}

.product__img {
    width: 70%;
    height: 70%;
}

.shop__link {
    margin: 12px auto;
}

.cart {
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    transition: height 0.5s;
    box-shadow: var(--elevation);
    background-color: white;
}

.cart__container {
    display: flex;
    width: 500px;
    align-items: center;
}

.cart__heading {
    margin: 12px;
    display: block;
}

.price {
    color: grey;
    font-weight: normal;
}

.cart__purchases {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 12px;
}

.purchase {
    display: flex;
    background-color: var(--beige);
    justify-content: space-between;
    box-shadow: var(--elevation);
}

.purchase__img {
    height: 100px;
    width: 100px;
    margin: 12px;
}

.purchase__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
}

.purchase__name {
    font-family: serif;
    font-size: 20px;
}

.cart__button {
    background-color: var(--green);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 10px;
    height: 42px;
    margin-top: 20px;
    border: 2px solid var(--green)
}

.search {
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    transition: height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
}

.search__input {
    font-family: serif;
    border: none;
    font-size: 25px;
    width: 240px;
}

.search__button {
    background-color: var(--green);
    border: 2px solid var(--green);
    width: 42px;
    height: 42px;
    position: relative;
}

.search__button::before {
    content: '';
    left: 48%;
    right: 0;
    background-color: white;
    transform: rotate(45deg);
    height: 10px;
    width: 3px;
    position: absolute;
    top: 45%;
}

.search__button::after {
    content: '';
    left: 48%;
    right: 0;
    background-color: white;
    transform: rotate(-45deg);
    height: 10px;
    width: 3px;
    position: absolute;
    top: 30%;
}

.search__button:hover::after, .search__button:hover::before {
    background-color: var(--green);
}

.slide__img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    opacity: 20%;
    animation: fade 2s forwards;
}

@keyframes fade {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.slide__heading {
    width: 240px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: serif;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.slide__button {
    text-align: center;
    width: 180px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 12px;
    border: 2px solid white;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: 50px auto;
}

.slide__button_next, .slide__button_prev {
    position: absolute;
    top: 50%;
    padding: 6px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.slide__button_next::after, .slide__button_prev::after {
    background-color: white;
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.slide__button_next:hover::after, .slide__button_prev:hover::after {
    width: 100%;
}

.slide__button:hover {
    background-color: white;
    color: var(--black)
}

.slide__button_next {
    right: 0;
    transform: rotate(90deg);
}

.slide__button_prev {
    left: 0;
    transform: rotate(-90deg);
}

#section_about {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.section_about__desc, .section_about__logo {
    max-width: 300px;
    margin: 12px;
    position: relative;
}

.section_about__logo {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
}

.section_about__logo:after, .search__input:after {
    content: '';
    bottom: -10px;
    height: 3px;
    width: 100%;
    left: 0;
    border-radius: 100%;
    transform: rotate(-2deg);
    position: absolute;
    background-color: grey;
}

#section_stories {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_stories__options {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 12px;
}

.link_ref {
    display: block;
    text-transform: lowercase;
    font-family: serif;
    text-align: center;
}

.card {
    margin: 12px;
    width: 46%;
    background-color: white;
    border: none;
    box-shadow: var(--elevation);
}

.card__img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.card__desc {
    position: relative;
    padding: 12px;
}

.card__desc:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 40px;
    background-color: white;
    height: 20px;
    width: 20px;
    transform: skew(0, 45deg);
}

.card__desc:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: white;
    height: 20px;
    width: 20px;
    transform: skew(0, -45deg);
}

.card__author {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    color: grey;
    margin: 6px;
}

.card__heading {
    margin: 6px;
}

.card__text {
    margin: 6px;
}

.card__date {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    margin: 6px;
}

#section_films {
    background-color: white;
    text-align: center;
}

#section_posts {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    min-height: 100px;
    background-color: gainsboro;
    padding: 24px;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 720px) {
    .header__button_shop, .header__button_cart, .slide__button_prev, .slide__button_next, .shop, .cart {
        display: none;
    }

    .card {
        height: auto;
        width: 100%;
        margin: 12px 0;
    }
}